<section>
<ul>
<% counter = 0 %>
<% @teams_scores.each do |team| %>
<% counter += 1 %>
 <li>
  <%= counter %>. <%= team[0] %>
   <p>Wins: <%= team[1] %></P>
   <p>Losses: <%= team[2] %></p>
 </li>
 <% end %>
</ul>
</section>
